<!-- The Content is displayed for all devices, except Small Mobile devices. -->
<div class="block Small_Mobiles_Size_View:hidden">
  <div class="mb-4">
    <p class="text-[15px] w-64 text-center font-normal leading-tight text-Grayish_blue">{{description}}</p>
  </div>
</div>

<!-- The Content is displayed only at Small Mobile devices. -->
<div class="hidden Small_Mobiles_Size_View:block">
  <div class="mb-3">
    <p class="text-[10px] text-center font-normal leading-tight text-Grayish_blue w-44">{{description}}</p>
  </div>
</div>
